*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
  
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.border{
    border: 2px solid black;
}


.gcontainer{
   
    margin: 15%;
    background-color: rgb(190, 74, 74);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    flex:1;

    
}
.title{
    background-color: green;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mcontainer{
    
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.submcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-direction: column;
}
.icontainer{
    
    width: 60%;
    height: 100%;
}
img{
     width: 100%;
     height: auto;
}

h2{
    margin-top: 3%;
    border: 1px solid black;

}